/*.idea
/**/.idea
/*.iml
*.iml
/**/*.iml
/.settings
/.checkstyle
/.classpath
/.project
/target
/**/.settings
/**/.checkstyle
/**/.classpath
/**/.project
/**/target
/**/target/**
/**/*~
/out
*~
dependency-reduced-pom.xml
*.iml
